@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


header {
  position: sticky;
  top: 0;
  background: white;
  height: 70px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.containerHeader {
  padding: 0 10vw;
}

nav {
  font-size: 12px;
  height: 100%;
}

.left img {
  width: 50px;
  margin-right: 20px;
}

nav ul li {
  list-style: none;
  padding: 0 12px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: #ff3f6c;
}

.search {
  width: 34vw;
  padding: 7px 15px;
  border: 1px solid #ddd;
  background: #f5f5f6;
  border-radius: 5px;
}

.search:focus {
  outline: none;
  border: 1px solid #ff3f6c;
  background: white;
}

.rightBox div {
  cursor: pointer;
}

.rightBox div:hover {
  color: #ff3f6c;
}


.container {
  padding: 0 10vw;
}

.section1 {
  background: #f2f2f2;
}


.homeImg {
  width: 100%;
  margin: 15px 0;
}

.itemImg {
  width: 140px;
  margin: 10px;
  transition: transform 0.3s;
}

.itemImg:hover {
  transform: scale(1.05);
}

footer {
  background: #fafbfc;
  padding: 20px;
  text-align: center;
  font-size: 13px;
  color: #696b79;
}


@media (max-width: 900px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }

  .search {
    width: 80vw;
    margin-top: 10px;
  }

  header {
    height: auto;
    padding-bottom: 10px;
  }
}
